.register-wrapper {
  width: 100vw;       /* full chiều ngang màn hình */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9fbfd;
}

.register-card {
  width: 400px;
  border-radius: 12px !important;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  padding: 20px 30px;
}

.register-title {
  text-align: center;
  margin-bottom: 30px !important;
}

.register-btn {
  border-radius: 8px !important;
}

.register-footer {
  text-align: center;
  margin-top: 20px;
}

.register-footer a {
  color: #0066ff;
  font-weight: bold;
  text-decoration: none;
}
